@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: sans-serif, Lato, Oswald; 
    font-weight: 300;
}

/*headings logo*/

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #a6c311;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 16px 0;
    background: #000000;
    align-items: center;
    display: flex;
    letter-spacing: 1px;
    justify-content: space-between;
}


.navbar a {
    text-decoration: none;
}

.logo {
    width: 120px;
    cursor: pointer;
    margin-left: 30px;
    font-size: 280%;
    letter-spacing: 2px;
}

.logo span {
    color: #ffffff;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin: 30px;
    font-size: 110%;
    font-weight: bold;
}

.menu ul li a:hover{
    border-bottom: 2px solid;
    border-color: #ffffff;
    
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
}


/*hero image*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-rui-dias-1472887.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

/*mission and vision*/

.goal {
    background-color: #e7ebf8;
    padding: 25px 0 150px 200px;
}

.goal h2 {
    padding-top: 25px;
    font-size: 42px;
    font-family: sans-serif;  
}

.goal p {
    padding-top: 25px;
    font-size: 15px;
    font-family: sans-serif Oswald, lato;
    color: #6c6969ef;
}

/*brief informantion about site with button*/

#more-info {
    width: 200px;
    height: 50px;
    background-color: #e7ebf8;
    border: 2px solid #000000;
    margin-top: 25px;
    word-spacing: 2px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#more-info:hover {
    background-color: #000000;
    color: white;
}

.our-classes h2 {
    text-align: center;
    margin: 30px 0 10px;
    font-size: 44px;
    word-spacing: 2px;
    letter-spacing: 6px;
    font-family: sans-serif Oswald, lato;
}

.our-classes p {
    text-align: center;
    font-size: 15px;
    font-family: sans-serif Oswald, lato;
}

#our-classes {
    margin: 25px 50px 0;
}

/*new button*/

.container {
    text-align: center;
}

.btn {
    background-color: transparent;
    margin: 18px 10px;
    font-size: 15px;
    font-family: sans-serif Oswald, lato;
    color: #f20061;
    cursor: pointer;
}

div .btn:hover {
    background-color: #f20061;
    color: #ffffff;
}

.main-container{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.container1 {
    display: inline;
    justify-content: center;
    margin: 20px 
}

.container1 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.container2 {
    display: inline;
    justify-content: center;
    margin: 20px  
}

.container2 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.container3 {
    display: inline;
    justify-content: center;
    margin: 20px 
}

.container3 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.container4 {
    display: inline;
    justify-content: center;
    margin: 20px  
}

.container4 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.container5 {
    display: inline;
    justify-content: center;
    margin: 20px 
}

.container5 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.container6 {
    display: inline;
    justify-content: center;
    margin: 20px
    
}

.container6 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.container7 {
    display: inline;
    justify-content: center;
    margin: 20px   
}

.container7 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.container-list1 {
    text-align: center;
    margin: 30px 0 10px;
    font-size: 44px;
    letter-spacing: 6px;
}

/* Add style to price column*/

.price-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.container-list {
    background-color: hsl(0, 88%, 36%);
    display: flex;
    justify-content: center;
    margin: 100px 0;   
}

.price-list1 {
    width: 220px;
    min-height: 340px;
    margin: 20px;  
}

.price-list1 {
    color: #000000;
    background-color: #ffffff;
    border-top: 5px solid #a95394; 
    text-align: center;
    padding: 1rem;
}

.list2 {
    color: #000000;
    background-color: #ffffff;
    border-top: 5px solid #357A5B;
}

.list3 {
    color: #000000;
    background-color: #ffffff;
    border-top: 5px solid #F16325;
}

.list4 {
    color: #000000;
    background-color: #ffffff;
    border-top: 5px solid #1FB6EB;
}


.price-list1 img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px;
}

.euro-sign h4 {
    text-align: center;
    margin: 80px 0 20px;
}

/*first list style*/
div span1 {
    word-spacing: 70px;
}

#span {
    line-height: 40px;
    padding: 0 25px;
    font-size: 16px;
    font-family: sans-serif 'lato';
}

div span3 {
    word-spacing: 40px;
}

#span2 {
    padding: 0 25px;
    font-size: 16px;
    font-family: sans-serif 'lato';
}

div button {
    border: 2px solid #000000;
    text-align: center;
    word-spacing: 1px;
    background-color: none;
    padding: 10px 20px;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover{
    background-color: #000000;
    color: #ffffff;
}

.btn-ph {
    margin: 120px 20px 0px;
}

div span4 {
    word-spacing: 50px;
}

div span6 {
    word-spacing: 50px;
}

div span5 {
    word-spacing: 40px;
}

div span7 {
    word-spacing: 58px;
}

.btn-ph2 {
    margin: 80px 20px 0px;
}

.btn-ph3 {
    margin: 80px 20px 10px;
}




.price-list1 h3 {
    text-align: center;
}













